<!-- Template for the Prompt component. -->
<div *ngIf="prompt"
     class="prompt-box card grey lighten-2">
  <div class="input-field">

    <div *ngIf="prompt['options']">
      <select id="select_field" #select_field>
        <option value="{{index}}" *ngFor="let option of prompt['options']; let index = index">
          {{ option }}
        </option>
      </select>
      <label for="select_field" class="active">
        {{prompt.message}}
      </label>
      <a class="waves-effect waves-light btn amber darken-4"
         (click)="sendResponse(select_field, prompt.id)">
        SUBMIT
      </a>
    </div>

    <div *ngIf="!prompt['options'] && prompt['text-input']">
      <input id="input_field" #input_field
             type="text"
             placeholder="(enter text here)"
             (keyup.enter)="sendResponse(input_field,
                                         prompt.id)">
      <label for="input_field" class="active">
        {{prompt.message}}
      </label>
      <a class="waves-effect waves-light btn amber darken-4"
         (click)="sendResponse(input_field, prompt.id);">
        SUBMIT
      </a>
    </div>

    <div *ngIf="!prompt['options'] && !prompt['text-input']">
      <div class="message">{{prompt.message}}</div>
      <a class="waves-effect waves-light btn amber darken-4"
         (click)="sendResponse(null, prompt.id)">
         OK
       </a>
    </div>

  </div>
</div>
